.attachIcon {
  box-shadow: 0px 3px 3px grey;
  max-width: 30px;
  max-height: 30px;
}
.row.titleBox {
  margin: 0;
}
.requestQuestion {
  height: 300px;
}
.emailMeFooter {
  margin-bottom: 1rem;
  font-size: 0.875em;
  color: #6c757d;
}
.attachButton {
  max-width: 30px;
  max-height: 30px;
}
