@import url("https://fonts.googleapis.com/css?family=Overpass");

.container-fluid {
  background-color: #002e6e;
  height: auto;
}

.logo-header h1 {
  color: white;
  text-align: center;
}

.input-group button {
  background-color: white;
  border: none;
  border-radius: 15px;
}

.input-group input {
  border-radius: 15px;
}

#btn-search {
  border-radius: 15px !important;
  font-size: 25px;
}

#btn-search:hover {
  color: #54d1b4;
}

.row label {
  color: white;
  font-size: 24px;
  padding-left: 20px;
}

.tag-container {
  min-width: 60%;
  min-height: 30px;
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
  position: relative;
}

.tag {
  color: #6ed8bf;
  display: flex;
  align-items: center;
  padding: 8px;
  border: 1px solid white;
  height: 30px;
  border-radius: 20px;
  margin: 5px 5px 0px 0px;
  background-color: white;
  cursor: pointer;
  width: fit-content;
  box-shadow: 0px 2px 1px 1px lightgray;
}

.tag:active {
  box-shadow: none;
  margin-left: 1px;
}

.container label {
  padding-top: 10px;
  color: white;
}

.tag-load-more {
  color: white;
  display: flex;
  align-items: center;
  padding: 8px;
  height: 30px;
  border-radius: 20px;
  margin: 5px 5px 0px 0px;
  background-color: #7b89f4;
  cursor: pointer;
  border-style: none;
}
.form-control {
  font-size: 25px;
}
.font {
  font-size: 25px;
}
.btn-white {
  background-color: #fff;
}
.request-font {
  font-size: 25px;
  border-radius: 15px;
  background-color: #7b89f4;
}
.btn-bv {
  background-color: #7b89f4;
  color: white;
  font-weight: 600;
}

.search {
  position: relative;
}

.search input {
  text-indent: 25px;
  border: 2px solid #d6d4d4;
}

.search input:focus {
  box-shadow: none;
  border: 2px solid blue;
}

.search .fa-search {
  position: absolute;
  top: 15px;
  left: 10px;
  font-size: 25px;
  color: grey;
}
.bv-blue-text {
  color: #7b89f4;
}
.mainPageBg {
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 15px;
}
.center-h1 {
}

.material-icons{
  font-size: 200px;
  text-align: center;
  margin-top: -50px;
}

.btn-module-home {
  color: white;
  border-style: none;
  background-color:#7C8AF5;
  border-radius: 20px;
  margin: 10px;
  padding: 5px 10px 5px 10px;
  font-style: bold;
  width: 180px;
}

.btn-module-another {
  color: white;
  border-style: none;
  background-color:#7C8AF5;
  border-radius: 20px;
  margin: 10px;
  padding: 8px 8px 7px 10px;
  font-style: bold;
  width: 180px;
  font-size: 14px;
}

.modal-styles {
  background-color: #002E6E;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  color: white;
  padding: 40px 25px 20px 25px;
  text-align: center;
  z-index: 1000;
}

.modal-background-style {
  backdrop-filter: blur(2px);
  background-color: rgba(184, 170, 170, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#modal-pupup-text {
  margin-bottom: 20px;
  font-style: italic;
}