/* Fonts */
@font-face {
  font-family: "Helvetica Neue Bold";
  src: url("./font/HelveticaNeue-Bold.eot");
  src: url("./font/HelveticaNeue-Bold.eot") format("embedded-opentype"),
    url("./font/HelveticaNeue-Bold.woff2") format("woff2"),
    url("./font/HelveticaNeue-Bold.woff") format("woff"),
    url("./font/HelveticaNeue-Bold.ttf") format("truetype"),
    url("./font/HelveticaNeue-Bold.svg#HelveticaNeue-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Neue Italic";
  src: url("./font/HelveticaNeue-Italic.eot");
  src: url("./font/HelveticaNeue-Italic.eot") format("embedded-opentype"),
    url("./font/HelveticaNeue-Italic.woff2") format("woff2"),
    url("./font/HelveticaNeue-Italic.woff") format("woff"),
    url("./font/HelveticaNeue-Italic.ttf") format("truetype"),
    url("./font/HelveticaNeue-Italic.svg#HelveticaNeue-Italic") format("svg");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Neue Condensed Black";
  src: url("./font/HelveticaNeue-CondensedBlack.eot");
  src: url("./font/HelveticaNeue-CondensedBlack.eot")
      format("embedded-opentype"),
    url("./font/HelveticaNeue-CondensedBlack.woff2") format("woff2"),
    url("./font/HelveticaNeue-CondensedBlack.woff") format("woff"),
    url("./font/HelveticaNeue-CondensedBlack.ttf") format("truetype"),
    url("./font/HelveticaNeue-CondensedBlack.svg#HelveticaNeue-CondensedBlack")
      format("svg");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Neue Bold Italic";
  src: url("./font/HelveticaNeue-BoldItalic.eot");
  src: url("./font/HelveticaNeue-BoldItalic.eot") format("embedded-opentype"),
    url("./font/HelveticaNeue-BoldItalic.woff2") format("woff2"),
    url("./font/HelveticaNeue-BoldItalic.woff") format("woff"),
    url("./font/HelveticaNeue-BoldItalic.ttf") format("truetype"),
    url("./font/HelveticaNeue-BoldItalic.svg#HelveticaNeue-BoldItalic")
      format("svg");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Neue Condensed Bold";
  src: url("./font/HelveticaNeue-CondensedBold.eot");
  src: url("./font/HelveticaNeue-CondensedBold.eot") format("embedded-opentype"),
    url("./font/HelveticaNeue-CondensedBold.woff2") format("woff2"),
    url("./font/HelveticaNeue-CondensedBold.woff") format("woff"),
    url("./font/HelveticaNeue-CondensedBold.ttf") format("truetype"),
    url("./font/HelveticaNeue-CondensedBold.svg#HelveticaNeue-CondensedBold")
      format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Neue Light";
  src: url("./font/HelveticaNeue-Light.eot");
  src: url("./font/HelveticaNeue-Light.eot") format("embedded-opentype"),
    url("./font/HelveticaNeue-Light.woff2") format("woff2"),
    url("./font/HelveticaNeue-Light.woff") format("woff"),
    url("./font/HelveticaNeue-Light.ttf") format("truetype"),
    url("./font/HelveticaNeue-Light.svg#HelveticaNeue-Light") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Neue Medium";
  src: url("./font/HelveticaNeue-Medium.eot");
  src: url("./font/HelveticaNeue-Medium.eot") format("embedded-opentype"),
    url("./font/HelveticaNeue-Medium.woff2") format("woff2"),
    url("./font/HelveticaNeue-Medium.woff") format("woff"),
    url("./font/HelveticaNeue-Medium.ttf") format("truetype"),
    url("./font/HelveticaNeue-Medium.svg#HelveticaNeue-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Neue Light Italic";
  src: url("./font/HelveticaNeue-LightItalic.eot");
  src: url("./font/HelveticaNeue-LightItalic.eot") format("embedded-opentype"),
    url("./font/HelveticaNeue-LightItalic.woff2") format("woff2"),
    url("./font/HelveticaNeue-LightItalic.woff") format("woff"),
    url("./font/HelveticaNeue-LightItalic.ttf") format("truetype"),
    url("./font/HelveticaNeue-LightItalic.svg#HelveticaNeue-LightItalic")
      format("svg");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Neue Medium Italic";
  src: url("./font/HelveticaNeue-MediumItalic.eot");
  src: url("./font/HelveticaNeue-MediumItalic.eot") format("embedded-opentype"),
    url("./font/HelveticaNeue-MediumItalic.woff2") format("woff2"),
    url("./font/HelveticaNeue-MediumItalic.woff") format("woff"),
    url("./font/HelveticaNeue-MediumItalic.ttf") format("truetype"),
    url("./font/HelveticaNeue-MediumItalic.svg#HelveticaNeue-MediumItalic")
      format("svg");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Neue Thin";
  src: url("./font/HelveticaNeue-Thin.eot");
  src: url("./font/HelveticaNeue-Thin.eot") format("embedded-opentype"),
    url("./font/HelveticaNeue-Thin.woff2") format("woff2"),
    url("./font/HelveticaNeue-Thin.woff") format("woff"),
    url("./font/HelveticaNeue-Thin.ttf") format("truetype"),
    url("./font/HelveticaNeue-Thin.svg#HelveticaNeue-Thin") format("svg");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Neue Ultra Light";
  src: url("./font/HelveticaNeue-UltraLight.eot");
  src: url("./font/HelveticaNeue-UltraLight.eot") format("embedded-opentype"),
    url("./font/HelveticaNeue-UltraLight.woff2") format("woff2"),
    url("./font/HelveticaNeue-UltraLight.woff") format("woff"),
    url("./font/HelveticaNeue-UltraLight.ttf") format("truetype"),
    url("./font/HelveticaNeue-UltraLight.svg#HelveticaNeue-UltraLight")
      format("svg");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Neue Thin Italic";
  src: url("./font/HelveticaNeue-ThinItalic.eot");
  src: url("./font/HelveticaNeue-ThinItalic.eot") format("embedded-opentype"),
    url("./font/HelveticaNeue-ThinItalic.woff2") format("woff2"),
    url("./font/HelveticaNeue-ThinItalic.woff") format("woff"),
    url("./font/HelveticaNeue-ThinItalic.ttf") format("truetype"),
    url("./font/HelveticaNeue-ThinItalic.svg#HelveticaNeue-ThinItalic")
      format("svg");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Neue Ultra Light Italic";
  src: url("./font/HelveticaNeue-UltraLightItalic.eot");
  src: url("./font/HelveticaNeue-UltraLightItalic.eot")
      format("embedded-opentype"),
    url("./font/HelveticaNeue-UltraLightItalic.woff2") format("woff2"),
    url("./font/HelveticaNeue-UltraLightItalic.woff") format("woff"),
    url("./font/HelveticaNeue-UltraLightItalic.ttf") format("truetype"),
    url("./font/HelveticaNeue-UltraLightItalic.svg#HelveticaNeue-UltraLightItalic")
      format("svg");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("./font/HelveticaNeue.eot");
  src: url("./font/HelveticaNeue.eot") format("embedded-opentype"),
    url("./font/HelveticaNeue.woff2") format("woff2"),
    url("./font/HelveticaNeue.woff") format("woff"),
    url("./font/HelveticaNeue.ttf") format("truetype"),
    url("./font/HelveticaNeue.svg#HelveticaNeue") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Fonts defined */

.helvetica {
  font-family: "Helvetica Neue" !important;
}

.helvetica-ultra-light {
  font-family: "Helvetica Neue Ultra Light" !important;
}

.helvetica-thin {
  font-family: "Helvetica Neue Thin" !important;
}

.helvetica-medium {
  font-family: "Helvetica Neue Medium" !important;
}

.helvetica-light {
  font-family: "Helvetica Neue Light" !important;
}

.helvetica-bold {
  font-family: "Helvetica Neue Bold" !important;
}

.helvetica-italic {
  font-family: "Helvetica Neue Italic" !important;
}

.helvetica-italic-medium {
  font-family: "Helvetica Neue Thin Italic" !important;
}

.helvetica-italic-Light {
  font-family: "Helvetica Neue Light Italic" !important;
}

.helvetica-italic-thin {
  font-family: "Helvetica Neue Medium Italic" !important;
}

.helvetica-italic-bold {
  font-family: "Helvetica Neue Bold Italic" !important;
}

.helvetica-italic-ultralight-italic {
  font-family: "Helvetica Neue Ultra Light Italic" !important;
}

.helvetica-condensed-black {
  font-family: "Helvetica Neue Condensed Black" !important;
}
.helvetica-condensed-bold {
  font-family: "Helvetica Neue Condensed Bold" !important;
}

.container-header {
  background-color: #002e6e;
  height: auto;
  position: sticky;
  top: 0;
  z-index: 1000;
}
.header{
  display: flex;
  justify-content: space-between;
}

.logo {
  text-align: left;
  letter-spacing: 0.23px;
  color: #fffcfc;
  text-transform: uppercase;
  font-size: 35px;
}

.input-group button {
  background-color: white;
  border: none;
  border-radius: 15px;
}

.input-group input {
  border-radius: 15px;
}

#btn-search {
  border-radius: 15px !important;
  font-size: 25px;
}

#btn-search:hover {
  color: #54d1b4;
}

.popular-label {
  color: white;
  font-size: 20px;
  margin-top: 10px;
  letter-spacing: 0.15px;
  color: #fffcfc;
  text-transform: uppercase;
  opacity: 1;
}

.tag-container {
  min-width: 60%;
  min-height: 30px;
  display: flex;
  flex-wrap: wrap;
  padding: 10px 10px 10px 20px;
  position: relative;
}
.tag {
  color: #6ed8bf;
  display: flex;
  align-items: center;
  padding: 8px;
  border: 1px solid white;
  height: 30px;
  border-radius: 20px;
  margin: 5px 5px 0px 0px;
  background-color: white;
  cursor: pointer;
  width: fit-content;
  box-shadow: 0px 2px 1px 1px lightgray;
}

.tag:active {
  box-shadow: none;
  margin-left: 1px;
}

.tag-load-more {
  color: white;
  display: flex;
  align-items: center;
  padding: 8px;
  height: 30px;
  border-radius: 20px;
  margin: 5px 5px 0px 0px;
  background-color: #7b89f4;
  cursor: pointer;
  border-style: none;
}
.form-control {
  font-size: 22px;
  border-radius: 18px;
  padding: 10px 10px 10px 25px;
}

.btn-white {
  background-color: #fff;
}
.request-font {
  font-size: 20px;
  border-radius: 15px;
  background: #7c8af5 0% 0% no-repeat padding-box;
  color: #fefefe;
  letter-spacing: 0.15px;
  box-shadow: 0px 3px 6px #00000029;
  backdrop-filter: blur(3px);
  margin-left: 20px;
  margin-top: 8px;
}
.btn-bv {
  background-color: #7b89f4;
  color: white;
  font-weight: 600;
}

.search {
  position: relative;
  margin-right: 100px;
  margin-left: -45px;
  z-index: 10;
}

.search input {
  text-indent: 25px;
  border: 2px solid #d6d4d4;
}

.search input:focus {
  box-shadow: none;
  border: 2px solid blue;
}

.search .fa-search {
  position: absolute;
  top: 15px;
  left: 10px;
  font-size: 25px;
  color: grey;
}
.bv-blue-text {
  color: #7b89f4;
}
.resultBoxArticle {
  border-radius: 10px;
  box-shadow: 0px 2px 5px gray;
  max-height: fit-content;
  background-color: #f4f4f4;
  padding: 30px;
}

.modal-styles {
  background-color: #002e6e;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  color: white;
  padding: 40px 25px 20px 25px;
  text-align: center;
}

.modal-background-style {
  backdrop-filter: blur(2px);
  background-color: rgba(184, 170, 170, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#modal-pupup-text {
  margin-bottom: 20px;
  font-style: italic;
}
.text-align {
  text-align: center;
}
.copy-icon {
  font-size: 20px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 25px;
  color: black;
}
.edit-icon {
  font-size: 20px;
  background: #7b89f4 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 25px;
  color: black;
}

.copy-icon:hover {
  color: #6ed8bf;
  cursor: pointer;
}

.edit-icon:hover {
  color: #6ed8bf;
  cursor: pointer;
}

.background {
  background-image: url("./images/circles.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.container {
  padding-bottom: 10px;
}
.container-main {
  padding-top: 1px;
  padding-bottom: 50px;
  margin: auto;
  min-height: 65vh;
}
.footer {
  background-color: #002e6e;
  height: 90px;
  color: white;
  left: 0px;
  bottom: 0px;
  width: 100%;
}
.footer img {
  padding-top: 10px;
  padding-left: 30px;
}
.copied-alert {
  position: fixed;
  bottom: 5px;
  right: 2%;
  width: 30%;
}
.articleRequest-btn{
  margin-left: auto;
  padding-right: 50px;
  padding-bottom: 30px;
}
.logo-header{
  padding-left: 20px;
}
.header-search{
  display: flex;
  flex-direction: column;
}
.popular-tags{
  margin-left: 18%;
}
.test-background{
background-color:cadetblue;
border-radius: 20px;
margin-top: 10px;
padding: 5px;
}