.resultHeader {
  border: solid 1px #bbbcbd;
  border-radius: 15px;
  transform: translate(-1rem, -30%);
  max-width: max-content;
  letter-spacing: 0.12px;
  color: #7c8af5;
}
.resultBox {
  border-radius: 10px;
  box-shadow: -1px 2px 5px gray;
  max-height: fit-content;
  text-decoration: none;
  background-color: white;
}
.resultSnippet {
  padding: 0px 20px 5px 20px;
  margin-top: -10px;
}

.q_text {
  min-height: 100px;
  text-decoration: inherit;
  color: inherit;
  cursor: pointer;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  color: black;
}
.copy-in-text-field {
  text-align: end;
  margin-top: -30px;
  margin-left: 13px;
}
.delete-post{
  text-align: right;
  margin-top: -43px;
  margin-left: -42px;
  margin-bottom: 5px;
}
.fa-trash-alt{
  padding: 1px;
}