.pageTitle {
  color: #7b89f4 !important;
  margin-bottom: 40px;
}
#submit {
  background-color: #7b89f4;
  border-radius: 20px;
  height: 55px;
  font-size: 30px;
  font-weight: bold;
}
.pasteField {
  font-size: 0.75em;
  max-height: 1.5rem;
  box-shadow: 1px 1px 1px rgb(165, 164, 164);
}
.pastePlusSection {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  max-height: 1.5rem;
  font-weight: bold;
  color: #7b89f4 !important;
  box-shadow: 1px 1px 1px rgb(165, 164, 164);
}
.titleField {
  border-radius: 12px;
  box-shadow: 1px 1px 1px rgb(165, 164, 164);
  margin-bottom: 20px;
}
.articleBody {
  border-radius: 20px !important;
  font-size: 1.5em;
  height: 12em;
  box-shadow: 1px 1px 1px rgb(165, 164, 164);
}
.userEmail {
  border-radius: 15px;
  height: 40px;
  box-shadow: 1px 1px 1px rgb(165, 164, 164);
  width: 100%;
  border: 1px;
}
#articleEmptyTitle {
  border: 3px solid red;
}
#emptyQuestionDetails {
  border: 3px solid red;
}